{% extends 'base.html' %}
{% load mathfilters %}
{% block title %} Amr Shop - All Products {% endblock %}
{% block content %}
{% load static  %}

        <section class="search-all" style="margin-bottom:30px">
            <div class="container">
                <div class="row text-center">
                    <div class="col-xs-16">
                        <h1>This website designed and developed By : <a href="https://www.facebook.com/amr.elsayed.73999">Amr Elsayed</a>
                        </h1>
                        <h1>E-mail : newsifb@gmail.com</h1>
                        <h1>Tel : +2 011 211 479 61</h1>
                    </div>
                </div>
            </div>


        </section>

        {% endblock %}